{sub_dirs, ["rel"]}.

%% -- escriptize -- %%
{escript_name, "reijie_probe_client_mocker"}.
{escript_incl_apps, []}.
{escript_emu_args, "%%! -pa ebin\n"}.

%% -- dependencis -- %%
{deps, [
       {lager, ".*", {git, "https://github.com/basho/lager.git"}},
       {udp_broker, ".*", {git, "https://github.com/ChinaXing/udp-broker.git"}}
       ]}.	    

