{sub_dirs, ["rel"]}.

%% -- escriptize -- %%
{escript_name, "message_mocker_app"}.
{escript_incl_apps, ["message_mocker_app"]}.
{escript_emu_args, "%%! -pa ebin\n"}.

%% -- dependencis -- %%
{deps, [
       {lager, ".*", {git, "https://github.com/basho/lager.git"}},
       {udp_broker, ".*", {git, "https://github.com/ChinaXing/udp-broker.git"}}
       ]}.
